.login {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.login > img {
    object-fit: contain;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > form > input {
    width: 320px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #333;
}

.login > form > button {
    height: 50px;
    width: 330px;
    font-size: large;
    color: #fff;
    background-color: #05d9e8;
    border-radius: 5px;
}

.login > form > button:hover{
   background-color: whitesmoke;
   color: gray;
}

.login__register {
    color: #05d9e8;
    cursor: pointer;
}

.login > p {
    margin-top: 20px;
    color: #fff;
}